@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Sintony&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sintony', sans-serif;
    background-color: #f0f0f0;
}

h1, h2 {
    font-family: 'Rufina', serif;
}

a {
    text-decoration: none;
}
#welcome-section {
    height: 100vh;
    background-image:url(images/coffee-flatlay.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}