@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Sintony&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sintony', sans-serif;
    background-color: #f2f2f2;
}

h1, h2 {
    font-family: 'Rufina', serif;
}

a {
    text-decoration: none;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #c0b0ae;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.navlink {
    padding: 10px;
    margin-top: 10px;
}
#welcome-section {
    height: 100vh;
    background-image:url(images/coffee-flatlay.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#welcome-text {
    position: absolute;
    top: 150px;
    left: 100px;
}
#welcome-text p {
    width: 60%;
    padding: 10px;
}