@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Sintony', sans-serif;
    background-color: #f2f2f2;
}

h1, h2 {
    font-family: 'Rufina', serif;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    font-weight: 700;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #c0b0ae;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    z-index: 1;
}
.navlink {
    padding: 10px;
    margin-top: 10px;
}
#welcome-section {
    height: 100vh;
    background-image:url(images/coffee-flatlay.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#welcome-text {
    position: absolute;
    top: 150px;
    left: 100px;
}
#welcome-text p {
    width: 60%;
    padding: 10px;
}

#projects 
{
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.tile-container {
    min-width: 750px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.project-preview {
    width: 95%;
    height: auto;
    margin: 2.5%;
}

.project-tile {
    background-color: #beb4af;
}

#contact {
    background: #c0b0ae;
    text-align: center;
    height: 75vh;
    display: flex;
    margin-top: 30px;
}
#contact div {
    width: 100%;
    height: 100%;
}
#contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#contact-info {
    background-color: #828282;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-icon {
    width: 10%;
    height: auto;
}